project:
  type: website
  render:
    - "*.qmd"

website:
  title: "Marian Klose"
  google-analytics: "G-1YZKR6EN7R"
  cookie-consent:
    type: express
    style: simple
    palette: light
  favicon: img/favicon.ico
  comments:
    giscus:
      repo: marianklose/personal-website
      repo-id: R_kgDOLLh1WA
      category: Comments
      category-id: DIC_kwDOLLh1WM4CjMUX
      mapping: pathname
      reactions-enabled: true
      language: en
      input-position: bottom
  navbar:
    left:
      - href: publications/publications.qmd
        text: Publications
      - href: cv/cv.qmd
        text: CV
      - href: posts.qmd
        text: Blog

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

bibliography: "{{< env BIBFILE >}}"